@import '@/sass/master';

.productListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 38rem);
  justify-content: center;
  gap: 2rem;
  width: 100%;

  @media (max-width: 1474px) and (min-width: 769px) {
    grid-template-columns: repeat(2, 38rem);

    justify-content: start;
  }

  @media (max-width: 975px) {
    > div {
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 18rem);
  }
}
